<header>
	<form method='post' action='/search'>
		<h2>Search Pokemon</h2>
		<div class='group'>
			<input
				type='text'
				id='pokemon-name'
				name='pokemon-name'
				placeholder='Pokemon name'
			/>
			<label for='pokemon-name'>Name</label>
		</div>
	</form>
</header>